<section>
    <main>
        <div id="pictureContainer">
            <img src="./assets/img/me.png" alt="me">
            <img id="hoverImg" src="./assets/img/me_hover.png" alt="me_hover">
        </div>
        <div id="aboutmeContainer">
            <p>{{text.getText("who")}}</p>
            <div id="aboutmeCard">
                <h1>{{text.getText("aboutmeHeading")}}</h1>
                <p>{{text.getText("aboutme")}}</p>
                <div id="iconsAndText">
                    <div class="iconAndTextRow">
                        <img src="./assets/img/location.svg" alt="location">
                        <p>{{text.getText("aboutmeLocation")}}</p>
                    </div>
                    <div class="iconAndTextRow">
                        <img src="./assets/img/mind.svg" alt="mind">
                        <p>{{text.getText("aboutmeMind")}}</p>
                    </div>
                    <div class="iconAndTextRow">
                        <img src="./assets/img/profession.svg" alt="profession">
                        <p>{{text.getText("aboutmeProfession")}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>