<section>
    <app-header></app-header>
    <main>
        <h2>Frontend Developer</h2>
        <h1>Peter Wolf</h1>
        <div class="buttons">
            <div class="button"><span>Check my work</span></div>
            <div class="button"><span>Contact me</span></div>
        </div>
        <div class="lateral_area">
            <div class="left_lateral">
                <div class="animation_arrow"></div>
                <div class="verical_line"></div>
            </div>
            <div class="right_lateral">
                <div class="socials">

                </div>
                <div class="vertical_line"></div>
            </div>
        </div>
    </main>
</section>