@mixin centerFlex()
    display: flex
    justify-content: center
    align-items: center

@mixin decorationDot($position: 'bottom')
    position: relative
    &::after
        content: '\00B7'
        color: #6AD7BF
        position: absolute
        // @if $position == 'bottom'
        top: 5px
        left: 50%
        transform: translateX(-50%)
        font-size: 50px
             
