<header>
    <img id="respLogo" [src]="currentRespLogo.src" (mouseenter)="logoHoverChange()" (mouseleave)="logoFullChange()"
        alt="Logo">

    <div class="menu">
        <div class="language_switch">
            <p>EN</p>
            <p class="active_switch">DE</p>
        </div>
            <a href="#about-me">About me</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
    </div>

    <div id="burgerButton">
        <div class="burger_line"></div>
        <div class="burger_line"></div>
        <div class="burger_line"></div>
    </div>

    <div id="burgerMenu">
        <a href="#about-me">About me</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <div class="language_switch">
            <p>EN</p>
            <p class="active_switch">DE</p>
        </div>
    </div>

    <img id="logo" [src]="currentLogo.src" (mouseenter)="logoHoverChange()" (mouseleave)="logoFullChange()" alt="Logo">
</header>