<header>
    <img id="respLogo" [src]="currentRespLogo.src" (mouseenter)="logoHoverChange()" (mouseleave)="logoFullChange()"
        (click)="scrollToTop()" alt="Logo">

    <div class="menu">
        <div class="language_switch" (click)="switchLanguage()">
            <p [ngClass]="{'active_switch': textContent.language == 'EN'}">EN</p>
            <p [ngClass]="{'active_switch': textContent.language == 'DE'}">DE</p>
        </div>
        <a href="#about-me">{{textContent.text["nav1"][textContent.language]}}</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
    </div>

    <div id="burgerButton" (click)="toggleOverlay()">
        <div class="burger_line" [ngClass]="{'turquoise_background': overlayVisibility}"></div>
        <div class="burger_line" [ngClass]="{'turquoise_background': overlayVisibility}"></div>
        <div class="burger_line" [ngClass]="{'turquoise_background': overlayVisibility}"></div>
    </div>

    <div id="burgerMenu" [ngStyle]="{display: overlayVisibility ? 'flex' : 'none'}" (click)="toggleOverlay()">
        <nav (click)="propagationStop($event)">
            <a href="#about-me" (click)="toggleOverlay()">About me</a>
            <a href="#skills" (click)="toggleOverlay()">Skills</a>
            <a href="#projects" (click)="toggleOverlay()">Projects</a>
            <div class="resp_language_switch" (click)="switchLanguage()">
                <p [ngClass]="{'active_switch': textContent.language == 'EN'}">EN</p>
                <p [ngClass]="{'active_switch': textContent.language == 'DE'}">DE</p>
            </div>
        </nav>
    </div>

    <img id="logo" [src]="currentLogo.src" (mouseenter)="logoHoverChange()" (mouseleave)="logoFullChange()"
        (click)="scrollToTop()" alt="Logo">
</header>