<main>
    <section>
        <h2>{{text.getText("technologies")}}</h2>
        <div id="skillsetContainer">
            <h1>{{text.getText("skillsetHeading")}}</h1>
            <p>{{text.getText("skillset1")}}</p>
            <div id="needAnotherSkill">
                <span>{{text.getText("skillset2a")}}</span>
                <span>{{text.getText("skillset2b")}}</span>
            </div>
            <p>{{text.getText("skillset3")}}</p>
            <div class="button">{{text.getText("letsTalkButton")}}</div>
        </div>
    </section>
    <div id="skillsIcons">
        
    </div>
</main>