<main>
    <section id="skillsText">
        <h2>{{text.getText("technologies")}}</h2>
        <div id="skillsetContainer">
            <h1>{{text.getText("skillsetHeading")}}</h1>
            <p>{{text.getText("skillset1")}}</p>
            <div id="needAnotherSkill">
                <span>{{text.getText("skillset2a")}}</span>
                <span>{{text.getText("skillset2b")}}</span>
            </div>
            <p>{{text.getText("skillset3")}}</p>
            <div class="button">{{text.getText("letsTalkButton")}}</div>
        </div>
    </section>
    <div id="skillsIcons">
        @for (skill of skills; track $index; let last = $last) {
            <div [ngClass]="last ? 'skill growthMindset' : 'skill'">
                <img src="{{skill.src}}" alt="{{skill.name}}">
                <p>{{skill.name}}</p>
                <div *ngIf="last" class="hover_bubble">
                    <p>{{text.getText("hoverBubble")}}</p>
                    <div class="interestSkillsContainer">
                        <div class="skill">
                            <img src="./assets/img/frontend_icons/react.svg" alt="React">
                            <p>React</p>
                        </div>
                        <div class="skill">
                            <img src="./assets/img/frontend_icons/vue_js.svg" alt="Vue.js">
                            <p>Vue.js</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>