@use './../../shared' as *

main
    padding: 0px var(--outer_padding) 96px
    display: flex
    flex-direction: column
    color: white
    max-width: 1440px
    width: 100%
    justify-self: center
    @media screen and ( min-width: 1100px )

h1, h2
    color: $turquoise

h1
    margin: 16px 0 32px
    @media screen and ( min-width: 1100px )
        margin: 20px 0 41px

p, span
    font-family: 'Karla', sans-serif

p
    font-size: 16px
    @media screen and ( min-width: 1100px )
        font-size: 18px

span
    font-size: 18px

b
    font-family: 'Fira Code', sans-serif
    font-size: 24px
    font-weight: 700
    display: flex
    align-items: center

.projects_container
    display: flex
    flex-direction: column
    padding-top: 32px
    position: relative
    @media screen and ( min-width: 1100px )
        max-width: 880px
        margin-right: 400px

    .spacer
        height: 1px
        background: $turquoise

    .single_project
        display: flex
        flex-direction: column
        gap: 16px
        padding: 32px 0px
        @media screen and ( min-width: 1100px )
            padding: 40px 32px
            flex-direction: row
            justify-content: space-between
            align-items: center
            &:hover
                >.project_preview
                    display: flex
        &:hover
            background: #3DCFB64D
            cursor: pointer
            .project_title img
                opacity: 1

        .project_title
            display: flex
            align-items: center
            gap: 4px
            img
                width: 23px
                height: 23px
                opacity: 0

        .project_skills
            display: flex
            gap: 8px
            .skill_spacer
                width: 1px
                background: $turquoise

        .project_preview
            position: absolute
            left: 100%
            margin-left: 64px
            width: 295px
            height: 192px
            display: none

            .preview_image
                width: 295px
                height: 192px
                z-index: 1
                border-radius: 16px

            .preview_background
                z-index: 0
                position: absolute
                bottom: -16px
                right: -16px
