<main>
    <h2>Portfolio</h2>
    <h1>{{text.getText("featuredProjectsHeading")}}</h1>
    <p>{{text.getText("featuredProjectsText")}}</p>
    <div class="projects_container">
        <div class="spacer"></div>
        @for (project of projects; track $index) {
        <div class="single_project">
            <div class="project_title">
                <b>{{project.title}}</b>
                <img src="./assets/img/arrow_outward.svg" alt="outward arrow">
            </div>
            <div class="project_skills">
                @for (skill of project.skills; track $index; let last = $last) {
                <span>{{skill}}</span>
                <div *ngIf="!last" class="skill_spacer"></div>
                }
            </div>
            <div class="project_preview">
                <img class="preview_image" src={{project.previewSrc}} alt="preview image">
                <img class="preview_background" src="./assets/img/preview_background.svg"
                    alt="preview background image">
            </div>
        </div>
        <div class="spacer"></div>
        }
    </div>
</main>