<main>
    <div class="button" routerLink="/">&lt; Zurück</div>
    <h1>Impressum</h1>

    <p>Peter Wolf<br />
        Tolstoistr. 4a<br />
        17491 Greifswald</p>

    <h2>Kontakt</h2>
    <p>Telefon: <a href="tel: +491749673021">+49 1749673021</a><br />
        E-Mail: <a href="mailto: contact@peeet.net">contact&#64;peeet.net</a></p>

    <p>Quelle: <a
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>
</main>