@use './../../shared' as *

main
    display: flex
    flex-direction: column
    align-items: center
    justify-self: center
    gap: 32px
    overflow-x: hidden
    width: 100%
    max-width: 1440px
    @media screen and ( min-width: 1024px )
        gap: 48px

h1
    font-family: 'Fira Code', sans-serif
    font-weight: 700
    text-align: center
    font-size: 24px
    @media screen and ( min-width: 1024px )
        font-size: 32px

p
    font-family: 'Karla', sans-serif
    font-weight: 400
    font-size: 16px
    @media screen and ( min-width: 1024px )
        font-size: 18px

.references_container
    display: flex
    position: relative
    margin: 0 var(--outer_padding)
    align-items: center
    gap: 8px
    width: fit-content
    overlflow-x: hidden

    .reference
        border-radius: 32px
        padding: 40px
        width: 358px
        height: 248px
        border: 1px solid #3dcfb7
        background: rgba(61, 207, 182, 0.2)
        display: flex
        flex-direction: column
        justify-content: space-evenly
        &:nth-last-child(1)
            order: -1
        &:nth-last-child(1), &:nth-child(2)
            position: relative
            &::before
                content: ''
                position: absolute
                border-radius: 32px
                top: -2px
                left: -2px
                right: -2px
                bottom: -2px
        &:nth-last-child(1)
            &::before
                background: linear-gradient(to right, #000000 30%, rgba(61, 207, 182, 0.1) 85%)
        &:nth-child(2)
            &::before
                background: linear-gradient(to left, #000000 30%, rgba(61, 207, 182, 0.1) 85%)

        @media screen and ( min-width: 1024px )
            min-width: 600px

        p
            color: #ffffffb0

        .name_container
            display: flex
            align-items: center
            gap: 16px

            .name_line
                height: 1px
                background: white
                flex: 1

    .active_reference
        height: 360px
        background: rgba(61, 207, 182, 0.4)
        @media screen and ( max-width: 410px )
            width: 270px
            height: 420px
        @media screen and ( min-width: 1024px )
            min-width: 620px

        p
            color: white
            font-weight: 500
