@import app/shared/variables
@import app/shared/mixins

*
    margin: 0
    scroll-behavior: smooth
    box-sizing: border-box

/* karla-regular - latin */
@font-face 
  font-display: swap
  font-family: 'Karla'
  font-style: normal
  font-weight: 400
  src: url('../public/assets/fonts/karla-v31-latin-regular.woff2') format('woff2')


/* fira-code-regular - latin */
@font-face 
  font-display: swap
  font-family: 'Fira Code'
  font-style: normal
  font-weight: 400
  src: url('../public/assets/fonts/fira-code-v22-latin-regular.woff2') format('woff2')